.nav-container{
	margin-top:20px
}
.page-link{
	cursor:pointer;
}
.page-link::selection{
	background-color: #007bff;
}
.active-page, .active-page:hover{
	background-color: #007bff;
	color: white;
}
.nav-pages{
text-align: center;
}
